.x{
    width: 100px;
    height: 100px;
    background-color: red;
}

.y{
    width: 150px;
    height: 150px;
    background-color: blue;


}

.z{
width: 200px;
height: 200pt;
background-color: green;

}

